{% extends "layout.njk" %}
{% block extracontent %}
<h2>Posts</h2>
<ul>
{%- for post in collections.weblog | reverse %}
	<li>
		<a href="{{post.url | absoluteUrl(metadata.url)}}">{{ post.data.title }}</a>
		(posted {{ post.date }})
	</li>
{%- endfor %}
</ul>
{% endblock %}
